html {
  font-family: 'Open Sans', sans-serif;
  background: whitesmoke;
}

.navbar {
  background: #333;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.nav-btn {
  background: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
}

.nav-btn.active {
  background-color: #097bbf;
  color: white;
}

.section {
  display: none;
  padding: 20px;
}

.section.active {
  display: block;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#profile {
  flex: 15%;
  text-align: left;
  margin: 20px;
}

#info-cards {
  flex: 55%;
  text-align: left;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: white;
  margin-bottom: 20px;
}

.projects-container {
  max-width: 800px;
  margin: auto;
}

.project {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  background: #f4f4f4;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

@media screen and (max-width: 850px) {
  #container {
    display: block;
  }

  #profile {
    width: 90%;
    margin: auto;
    text-align: center;
  }

  .card {
    margin: 0 5%;
  }
}

#profile-photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}