html {
  font-family: 'Open Sans', sans-serif;
  background: whitesmoke;
}

.navbar {
  background: #333;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.nav-btn {
  background: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
}

.nav-btn.active {
  background-color: #097bbf;
  color: white;
}

.section {
  display: none;
  padding: 20px;
}

.section.active {
  display: block;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#profile {
  flex: 15%;
  text-align: left;
  margin: 20px;
}

#info-cards {
  flex: 55%;
  text-align: left;
}

.card {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
  overflow-x: hidden;
  margin-bottom: 30px;
  padding: 15px 30px 30px 30px;
  background-color: #fff;
}

.project-card {
  width: calc(33.33% - 20px);
  /* 每行 3 個，減去間距 */
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
  overflow-x: hidden;
  margin-bottom: 30px;
  padding: 15px 30px 30px 30px;
  background-color: #fff;
  border-radius: 8px;
  /* 加一點圓角讓視覺更柔和 */
}

.about-me-content {
  color: #666;
  font-size: 14px;
  line-height: 1.6;
  margin-left: 30px;
  /* 讓內容與標題圖標對齊 */
  padding-left: 10px;
  /* 微調內容與左邊的間距 */
}

.projects-container {
  max-width: 800px;
  margin: auto;
}

/* 專案介紹區塊的 CSS 調整 */
.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  background: #f4f4f4;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

.project img {
  max-width: 30%;
  height: auto;
  border-radius: 8px;
  margin-left: 10px;
}

.project img:active {
  transform: scale(1.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 10px;
}

.project-content {
  flex: 1;
  text-align: left;
}

/* 技術領域區塊的獨立 CSS */
.tech-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tech-card {
  width: calc(33.33% - 10px);
  /* 每行 3 個，減去間距 */
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
  overflow-x: hidden;
  margin-bottom: 5px;
  padding: 15px 30px 30px 30px;
  background-color: #fff;
  border-radius: 8px;
  /* 加一點圓角讓視覺更柔和 */
}

@media screen and (max-width: 900px) {
  .project-card {
    width: calc(50% - 20px);
    /* 變成兩個一排 */
  }
}

@media screen and (max-width: 600px) {
  .project-card {
    width: 100%;
    /* 變成一個一排 */
  }
}

@media screen and (max-width: 900px) {
  .tech-card {
    width: calc(50% - 20px);
    /* 變成兩個一排 */
  }
}

@media screen and (max-width: 600px) {
  .tech-card {
    width: 100%;
    /* 變成一個一排 */
  }
}

@media screen and (max-width: 850px) {
  #container {
    display: block;
  }

  #profile {
    width: 90%;
    margin: auto;
    text-align: center;
  }

  .card {
    margin: 0 5%;
  }
}

#profile-photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}